* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Lobster", sans-serif;
}

.landing {
  
    background: url(../Img/Dolgeit.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0rem 5em;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 6em;
    font-size: 1.2rem;
}

.nav-links li a {
    text-decoration: none;
    text-indent: inherit;
    color: rgba(224, 228, 17, 0.753);
}

.nav-links li a:hover {
    font-size: 1.5rem;
    color: rgb(160, 130, 74);
}

#logo {
    font-weight: lighter;
    color:  rgba(224, 228, 17, 0.753);
    font-size: 2rem;
}

.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    color: rgba(224, 228, 17, 0.753);
    
}

.intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgba(202, 104, 23, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}
@media screen and (max-width: 1024px) {

    #logo {
        font-size: 1.5rem;
    }

    .big-text  {
        font-size: 4.5rem;
    }

    .nav-links li {
        padding-left: 3em;
        font-size: 1.5rem;
    }
}    

@media screen and (max-width: 896px) {

    #logo {
        font-size: 1.5rem;
    }

    .hide {
        background: transparent;
        overflow: hidden;
    }

    .intro {
        height: 110%;
    }

    .big-text  {
        font-size: 3rem;
    }

    .nav-links li {
        padding-left: 0.8em;
        font-size: 1.5rem;
    }
}  

@media screen and (max-width: 520px) {

    .landing {
        padding: 1em 1em;
    }

    .hide {
        background: transparent;
        overflow: hidden;
    }

    #logo {
        font-size: 1.5rem;
    }

    .big-text  {
        font-size: 2rem;
    }

    .nav-links  {
        display: flex;
        flex-direction: column;
    }

    .nav-links li {
        padding-top: 1em;
        font-size: 1.2rem;
    }
}